@charset "utf-8";
/* CSS Document */

/*  Project: l7m
	Date: 12-12-2017
	Xhtml mode - Html 5
	CSS Mode- CSS3
	Author: Mawaqaa
	Autor URL: http://www.mawaqaa.com
*/

/*search icon*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);



a:hover{
	text-decoration:none;
}


a:focus {
	outline: none;
}


span.location a{
	display:block;
	border: 4px solid #E0DFDF;
	border-radius: 10px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 15px 0
}
span.location a:hover{
	border-color: #5f4cb0;
	color: #5f4cb0;
	background-color: #E9E9E9;
}


    .col-sm-3{float:right !important;}

